* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    scroll-behavior: smooth;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #2AF598, #22E4AC, #1BD7BB);
    padding: 6 !important;
}
.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;

}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;

}
.navbar-toggler {
    outline: none !important;
}

#banner {
    background-image: linear-gradient(to right, #EFC1FE, #84eeea, #94f3b8); 
    color: #fff;
    padding-top: 5px;
}
.promo-title {
    font-size: 40px;
    font-weight:600;
    margin-top: 100px;
}
.github-btn {
    width: 45px;
    margin: 20px;
}
#banner a {
    color: #fff;
    text-decoration: none;
}
#banner a:hover {
    color: #000;
    text-decoration: underline;
}
.bottom-img {
    width: 100%;
    height: 200px;
}
#services {
    padding: 80px 0;
}
.service-img {
    width: 200px;
    height: 175px;
    margin-top: 20px;
    margin-left: 60px;
}
.container h4 {
    margin-left: 60px;
}
.overview {
    padding:20px;
}
.overview p {
    margin-left: 50px;
}
.overview h4 {
    padding: 5px;
    margin-top: 25px;
    padding-top: 20px;
    text-transform: uppercase;
}
.title::before {
    content: '';
    background: #000;
    height: 5px;
    width: 400px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
#align {
    text-align: center;
}
#fix2 {
    margin-left: 100px;
    margin-top: 48px;
    width: 200px;
    height: 400px;
}
#fix3 {
    margin-left: 30px;
    width: 200px;
    margin-top: 48px;
    height: 400px;
}
#features, #Phone {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.app-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}

#features ul li {
    margin: 10px 0;
}
#features ul {
    margin-left: 10px;
}
#fix {
    width: 400px;
    height: 400px;
    margin-left: 200px;
}

#video {
    margin: 100px 0;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video p {
    margin-top: 100px;
    margin-left: 260px;
}
.video {
    margin-top: 20px;
    margin-bottom: 50px;
}
#iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 450px;
    border-radius: 50px;
}

#social-media {
    background: #fff;
    padding: 100px 0;
}
#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

#footer {
    background-image: linear-gradient(to right, #EFC1FE, #84eeea, #94f3b8); 
}
.footer-img {
    transform: rotate(180deg);
    width: 100%;
    height: 200px;
}